/*font-family: 'Roboto', sans-serif;*/

/*HEADER---------------------------------------------------------*/

header {
    width: 100vw;
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

header .ib {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.fa-hand-holding-usd:before {
    margin-right: 5px;
}

.fa-sign-in-alt:before {
    margin-left: 2px;
}

.fa-shopping-basket:before {
    margin-left: 2px;
}

.fa-id-card:before {
    margin-left: 2px;
}

img {
    max-width: 76vw;
    margin: auto;
}

.nav {
    display: none;
}

header .containheader {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 18px;
}

.fa-bars:before {
    content: "\f0c9";
    font-size: 20px;
    text-align: center;
}

header p {
    text-align: center;
    margin-top: 0px;
    padding-top: 10px;
}

header .containheader .search-bar {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 48%;
    border: 4px;
}

header .containheader .search-bar button {
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 0px 4px 4px 0px;
    color: #666;
}

header .containheader .search-bar input {
    width: 60%;
    height: 39px;
    border-style: none;
    padding-inline-start: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    border: 0px solid #A4A4A4;
    border-radius: 4px 0px 0px 4px;
}

header .containheader img {
    display: block;
    margin: 0px;
    width: 48%;
    margin-bottom: 10px;
    padding-left: 5px;
}

header .burger-menu {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

header .burger-menu button {
    border-radius: 15%;
    margin-bottom: 10px;
    background-color: #1259c3;
    font-size: 2em;
}

.burger-menu button:hover .nav {
    display: block;
}

header .burger-menu button i {
    margin: auto;
    color: white;

}

.nav ul {
    width: 60vw;
    margin: auto;
    list-style: none;
    padding: 0;
}

.nav ul li {
    text-align: center;

}

.nav ul li a {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #000000;
    text-decoration: none;
}

/*MAIN---------------------------------------------------------*/

body {
    margin: 0;

}

main {
    display: inline-block;
    background-color: #ebebeb;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

main .banner {
    display: flex;
    justify-content: center;
}

main .banner img {
    max-width: 100%;
}

main section ul {
    padding: 0;
    display: block;
    width: 90vw;
    margin: auto;
}

main section ul article {
    background-color: white;
    display: block;
    padding: 15px;
    border-top: solid #ebebeb 1px;
    cursor: pointer;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 10px;
}

.titulos {
    display: flex;
    width: 95vw;
    justify-content: flex-start;
    padding-left: 5%;
    margin: auto;
    color: #666;
    font-size: 24px;
}

.cost {
    display: block;
    font-size: 18px;
    padding: 5px;
    margin: 0px;
    margin-top: 10px;
    width: 100%;
}

.rebates {
    display: block;
    color: #39b54a;
    font-size: 16px;
    width: 70%;
    padding-top: 8px;
    padding-left: 6px;
    margin: 0px;
    margin-top: 9px;
}

.description {
    font-size: 16px;
    width: 70%;
    margin: auto;
    margin-left: 0px;
    margin-top: 25px;
}

.fa-truck:before {
    content: "\f0d1";
    padding: 2%;
}

.fa-truck {
    color: #39b54a;
    font-size: 22px;
    padding: 9px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    left: 83%;
    top: -35%;
    position: absolute;
    transform: rotateZ(0deg);
    transition-property: rotateZ(0deg);
    transition-duration: 0.5s;
}

.fa-truck:hover {
    transform: rotateZ(-90deg)
}

.renglon {
    border-top: 1px solid rgb(184, 184, 184);
    border-radius: 4px 4px 4px 4px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

/*FOOTER---------------------------------------------------------*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: white;
}

footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

footer ul .footer-icon {
    font-size: 2em;
    margin: 10px;
    color: #1259c3;
    text-align: center;
}

footer ul p {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}

footer ul .copy {
    text-align: left;
}

footer p {
    margin-top: 10px;
    text-align: left;
    width: 100%;
}

footer ul .foo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15%;
    margin-bottom: 0;
    margin-top: 20px;
}

/*MAIN-LOGIN----------------------------------------------------*/

main {
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

main p {
    font-size: 18px;
}

main form {
    margin: auto;
    width: 80vw;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}

main form input {
    margin: 10px 0px 10px 0px;
    padding: 0px 0px 0px 10px;
    width: 97%;
    height: 30px;
    border: 0px;
    border-radius: 7px;
}

main form .ra {
    margin: 0px;
    width: 18px;
    height: 18px;
}

main form .che {
    margin: 0px;
    width: 18px;
    height: 18px;
}

main form .form-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content:left
}

main form .form-buttons .form-button {
    margin: 10px;
}

main form .form-buttons .form-button button {
    width: 270px;
    height: 43px;
    border: 0px;
    border-radius: 10px;
    font-family: 'Roboto';
    font-size: 16px;
    cursor: pointer;
    background-color: #1259c3;
    color: white;
}

/*MAIN-LOGIN-----------------------------------------------------------------------*/

main .login form button {
    width: 100%;
    height: 30px;
    border: 0px;
    border-radius: 6px;
    font-family: 'Roboto';
    font-size: 16px;
    cursor: pointer;
    background-color: #1259c3;
    color: white;
    margin-top: 10px;
}

main .login form button:hover {
    background-color: #0022AA;
}

main .login {
    margin: auto;
}


@media (min-width: 361px) {

    /*HEADER---------------------------------------------------------*/

    header p {
        width: 36%;
        text-align: right;
    }

    header .containheader img {
        width: 30%;
    }

    header .containheader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 86%;
        margin: auto;
    }

    header .ib {
        display: flex;
        justify-content: center;
        padding: 0px;
    }

    header .containheader .ib img {
        padding-right: 0px;
    }

    header .containheader .ib .search-bar {
        display: flex;
        justify-content: left;
        width: 50%;
        margin: auto;
        padding-left: 0px;
        border: 4px;
        height: 50%;
    }

    img {
        max-width: 38vw;
    }

    header .containheader .search-bar input {
        margin-bottom: 0px;
    }

    header .containheader .search-bar button {
        margin-bottom: 0px;
    }

    header .containheader img {
        margin: 0;
        padding: 0;
    }

    .nav ul {
        width: 100%;
        margin: auto;
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .nav {
        display: flex;
        flex-direction: row;
    }

    .nav ul li {
        padding: 10px;
        text-align: center;
    }

    header .burger-menu {
        display: none;
    }

    header .search-bar {
        max-width: 30%;
    }

    header .search-bar input {
        width: 78%;
    }

    /*MAIN---------------------------------------------------------*/

    main section ul article {
        margin: auto;
        margin-bottom: 24px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section ul article img {
        width: 100%;
    }

    main section ul {
        display: flex;
        flex-wrap: wrap;
    }

    .rebates {
        width: 30%;
        padding-left: 0px;
        padding-top: 6px;
        margin: 10px 0px 0px 0px;
    }

    .fa-truck {
        top: -44%;
    }

    .cost {
        width: 27%;
        margin: 10px 0px 0px 0px;
        padding-left: 0px;
    }

    .titulos {
        padding-left: 3%;
        width: 90vw;
    }

    .renglon {
        margin-top: 10px;
        display: flex;
        justify-content: left;
        border-top: 1px solid rgb(184, 184, 184);
        border-radius: 4px 4px 4px 4px;
    }

    /*FOOTER-------------------------------------------------------*/

    footer {
        margin: 6%;
        margin-bottom: 0;
        margin-top: 20px;
    }

    footer ul .foo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    /*MAIN--FORM---------------------------------------------------------*/

    main form {
        margin: 0 auto;
        width: 50vw;
    }

    main form .form-buttons {
        justify-content: center;
    }

    main form .form-buttons .form-button button {
        width: 378px;
        height: 43px;
        border: 0px;
        border-radius: 5px;
        font-family: 'Roboto';
        font-size: 16px;
        cursor: pointer;
        background-color: #1259c3;
        color: white;
    }
}


@media (min-width: 769px) {

    /*HEADER---------------------------------------------------------*/

    header .burger-menu {
        display: none;
    }

    header p {
        width: 23%;
        text-align: right;
    }

    header .containheader {
        padding: 25px 25px 25px 25px;
    }

    header .nav .izquierda {
        text-align: left;
    }


    header .containheader .search-bar input {
        width: 80%;
        border-radius: 4px;
        border-style: none;
        padding-inline-start: 10px;
        margin: 0px;
        border-radius: 4px 0px 0px 4px;
    }

    header .containheader .search-bar button {
        margin-bottom: 0px;
    }

    header .containheader .search-bar {
        margin: 0px;
        max-width: 30%;
        padding-left: 0px;
        padding-right: 0px;
        height: 90%;
    }

    /*MAIN---------------------------------------------------------*/

    article .description {
        display: none;
    }

    article:hover .description {
        display: flex;
    }

    main section ul article {
        box-shadow: none;
    }


    article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .fa-truck {
        top: -50%
    }

    .cost {
        width: 30%;
    }

    main section ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    main section ul article {
        margin: 10px;
        width: 16vw;
        height: 24vw;
        margin-bottom: 10px;
    }

    main section ul article p {
        display: flex;
        justify-content: left;
    }

    img {
        max-width: 16vw;
    }

    .titulos {
        padding-left: 0px;
        justify-content: center;
        width: 100%;
        padding: 0px;
    }

    /*FOOTER-------------------------------------------------------*/

    footer ul {
        justify-content: row;
        align-items: center;
        flex-direction: row;
    }

    footer ul .foo {
        margin: 1%;
    }

    footer .foo .footer-icon:hover {
        color:  #39b54a;
        cursor: pointer;
    }

    /*MAIN-FORM-------------------------------------------------------*/

    main form {
        width: 30vw;
    }

    main .login form {
        margin-top: 150px;
        margin-bottom: 150px;
    }

    main form .form-buttons .form-button button {
        width: 476px;
    }

    main form .form-buttons .form-button button:hover {
        background-color:#0022AA;
    }
}